.bg{
    position: absolute;
    width: calc(375px * 2 + 600px);
    height: calc(812px + 200px);
    background-color: black;
    margin-top: -8px;
    margin-left: -8px;
    opacity: .2;
}
.bgc1{
    position: absolute;
    width: 800;
    height: 800;
    background-color: black;
    border-radius: 50%;
    margin-top: calc((812px + 200px) / 2 - 200px);
    margin-left: calc((375px * 2 + 600px) / 2 - 800px);
    opacity: .03;
}
.bgc2{
    position: absolute;
    width: 600;
    height: 600;
    background-color: black;
    border-radius: 50%;
    margin-top: calc((812px + 200px) / 2 - 800px);
    margin-left: calc((375px * 2 + 600px) / 2 + 400px);
    opacity: .03;
}
.bgh1{
    position: absolute;
    width: 800px;
    height: 200px;
    background-color: white;
    margin-top: calc(812px + 200px - 8px);
    margin-left: -8px;
}
.bgh2{
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: white;
    margin-top: -8px;
    margin-left: calc(375px * 2 + 600px - 8px);
}
.b1{
    position: absolute;
    width: 375px;
    height: 812px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
    margin-top: calc(-8px + 100px);
    margin-left: calc(-8px + 200px);
    overflow: hidden;
}
.b2{
    position: absolute;
    width: 375px;
    height: 812px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
    margin-top: calc(-8px + 100px);
    margin-left: calc(-8px + 400px + 375px);
    overflow: hidden;
}
.linemenu{
    position: absolute;
    width: 150px;
    height: 4.5px;
    border-radius: 2px;
    background-color: #333333;
    margin-top: 790px;
    margin-left: calc(375px / 2 - 75px);
    opacity: .7;
}
.lineofmenu1{
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    margin-top: 48px;
    margin-left: 50px;
    opacity: .5;
}
.lineofmenu2{
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    margin-top: 54px;
    margin-left: 50px;
    opacity: .5;
}
.lineofmenu3{
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    margin-top: 60px;
    margin-left: 50px;
    opacity: .5;
}
.nameofpage{
    position: absolute;
    font-size: 24px;
    font-family: 'Baloo Da', cursive;
    margin-top: 90px;
    margin-left: 50px;
    opacity: .4;
}
.nameofsubj{
    position: absolute;
    font-size: 30px;
    font-family: 'Baloo Da', cursive;
    margin-top: 130px;
    margin-left: 50px;
}
.numberofgroup{
    position: absolute;
    font-size: 30px;
    font-family: 'Baloo Da', cursive;
    margin-top: 130px;
    margin-left: 50px;
}
.numberofsemestr{
    position: absolute;
    font-size: 30px;
    font-family: 'Baloo Da', cursive;
    margin-top: 170px;
    margin-left: 50px;
}
.tday{
    position: absolute;
    font-size: 25px;
    font-family: 'Baloo Da', cursive;
    margin-top: 230px;
    margin-left: 50px;
}
.monday{
    position: absolute;
    font-size: 25px;
    font-family: 'Baloo Da', cursive;
    margin-top: 230px;
    margin-left: 235px;
    opacity: .5
}
.p1{
    position: absolute;
    width: 275px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    margin-top: 290px;
    margin-left: 50px;
    opacity: .2
}
.p2{
    position: absolute;
    width: 275px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    margin-top: 370px;
    margin-left: 50px;
    opacity: .2
}
.p3{
    position: absolute;
    width: 275px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    margin-top: 450px;
    margin-left: 50px;
    opacity: .2
}
.tmday{
    position: absolute;
    font-size: 25px;
    font-family: 'Baloo Da', cursive;
    margin-top: 530px;
    margin-left: 50px;
}
.tuesday{
    position: absolute;
    font-size: 25px;
    font-family: 'Baloo Da', cursive;
    margin-top: 530px;
    margin-left: 229px;
    opacity: .5
}
.p4{
    position: absolute;
    width: 275px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    margin-top: 590px;
    margin-left: 50px;
    opacity: .2
}
.p5{
    position: absolute;
    width: 275px;
    height: 30px;
    background: linear-gradient(black -80%, white);
    border-radius: 25px 25px 0 0;
    margin-top: 670px;
    margin-left: 50px;
    opacity: .2
}
.pr1{
    position: absolute;
    width: 205px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    margin-top: 290px;
    margin-left: 50px;
    opacity: .2
}
.pr2{
    position: absolute;
    width: 205px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    margin-top: 370px;
    margin-left: 50px;
    opacity: .2
}
.pr3{
    position: absolute;
    width: 205px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    margin-top: 450px;
    margin-left: 50px;
    opacity: .2
}
.pr4{
    position: absolute;
    width: 205px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    margin-top: 530px;
    margin-left: 50px;
    opacity: .2
}
.pr5{
    position: absolute;
    width: 205px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    margin-top: 610px;
    margin-left: 50px;
    opacity: .2
}
.pr6{
    position: absolute;
    width: 205px;
    height: 10px;
    background: linear-gradient(black -80%, white);
    border-radius: 25px 25px 0 0;
    margin-top: 690px;
    margin-left: 50px;
    opacity: .2
}
.pr1c{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #0fff83;
    border-radius: 25px;
    margin-top: 290px;
    margin-left: 275px;
    opacity: .6
}
.pr2c{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #0fff83;
    border-radius: 25px;
    margin-top: 370px;
    margin-left: 275px;
    opacity: .6
}
.pr3c{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 5px #0fff83 solid;
    border-radius: 25px;
    margin-top: 450px;
    margin-left: 275px;
    opacity: .6
}
.pr3m{
    position: absolute;
    width: 40px;
    font-size: 30px;
    font-family: 'Baloo Da', cursive;
    text-align: center;
    color: #00db6a;
    margin-top: -4;
    opacity: 
}
.bgmap{
    position: absolute;
    width: 375px;
    height: 500px;
    background-color: black;
    margin-top: 200px;
    border-radius: 50px 0 0 50px;
    opacity: .05
}
.stp1{
    position: absolute;
    font-size: 30px;
    font-family: 'Baloo Da', cursive;
    margin-top: 200px;
    margin-left: 50px;
}
.bgarrive11{
    position: absolute;
    width: 325px;
    height: 50px;
    background-color: black;
    border-radius: 25px 0 0 25px;
    margin-top: 250px;
    margin-left: 50px;
    opacity: .1
}
.bgarrive12{
    position: absolute;
    width: 325px;
    height: 50px;
    background-color: black;
    border-radius: 25px 0 0 25px;
    margin-top: 320px;
    margin-left: 50px;
    opacity: .1
}
.stp2{
    position: absolute;
    font-size: 30px;
    font-family: 'Baloo Da', cursive;
    margin-top: 400px;
    margin-left: 50px;
}
.bgarrive21{
    position: absolute;
    width: 325px;
    height: 50px;
    background-color: black;
    border-radius: 25px 0 0 25px;
    margin-top: 450px;
    margin-left: 50px;
    opacity: .1
}
.bgarrive22{
    position: absolute;
    width: 325px;
    height: 50px;
    background-color: black;
    border-radius: 25px 0 0 25px;
    margin-top: 520px;
    margin-left: 50px;
    opacity: .1
}
.stp3{
    position: absolute;
    font-size: 30px;
    font-family: 'Baloo Da', cursive;
    margin-top: 600px;
    margin-left: 50px;
}
.bgarrive31{
    position: absolute;
    width: 325px;
    height: 50px;
    background: linear-gradient(black, white 100%);
    border-radius: 25px 0 0 25px;
    margin-top: 650px;
    margin-left: 50px;
    opacity: .1
}
.tclock{
    position: absolute;
    width: 375px;
    font-size: 30px;
    color: #333333;
    text-align: center;
    font-family: 'Baloo Da', cursive;
    margin-top: 160px;
}
.auto{
    position: absolute;
    width: 375px;
    font-size: 20px;
    text-align: center;
    font-family: 'Baloo Da', cursive;
    margin-top: 140px;
    opacity: .2
}
.time{
    position: absolute;
    width: 375px;
    font-size: 100px;
    color: #333333;
    text-align: center;
/*    color: #333333;*/
    font-family: 'Noto Sans SC', sans-serif;
    margin-top: 175px;
}
.bgonoff{
    position: absolute;
    width: 70px;
    height: 35px;
    background-color: black;
    border-radius: 17.5px;
    margin-top: 320px;
    margin-left: calc(375px / 2 - 35px);
    opacity: .2;
    z-index: 5;
}
.onoff{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 17.5px;
    margin-top: 320px;
    margin-left: calc(375px / 2 - 0px);
    opacity: .2;
    z-index: 6;
}
.bgendclock1{
    position: absolute;
    width: 375px;
    height: 50px;
    background-color: white;
    border-radius: 0 0 0 50px;
    margin-top: 350px;
    z-index: 3;
}
.bgendclock2{
    position: absolute;
    width: 375px;
    height: 200px;
    background-color: #333;
    border-radius: 0 0 0 50px;
    margin-top: 350px;
    z-index: 2;
}
.pclock{
    position: absolute;
    width: 375px;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 445.5px;
    z-index: 3;
}
.bgendclock12{
    position: absolute;
    width: 375px;
    height: 50px;
    background-color: white;
    border-radius: 0 0 0 50px;
    margin-top: 160px;
    z-index: 3;
}
.bgendclock22{
    position: absolute;
    width: 375px;
    height: 200px;
    background-color: #333;
    border-radius: 0 0 0 50px;
    margin-top: 160px;
    z-index: 2;
}
.pclock2{
    position: absolute;
    width: 375px;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 255.5px;
    z-index: 3;
}
.bgforendpage1{
    position: absolute;
    width: 375px;
    height: 50px;
    background-color: white;
    border-radius: 0 0 0 50px;
    margin-top: 500px;
    z-index: 2;
}
.bgforendpage2{
    position: absolute;
    width: 375px;
    height: 200px;
    background-color: black;
    border-radius: 0 0 0 50px;
    margin-top: 500px
}
.bgforendpage3{
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: #333333;
    border-radius: 30px;
    margin-top: 575px;
    margin-left: 25px;
}
.bgforendpage4{
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: #333333;
    border-radius: 30px;
    margin-top: 575px;
    margin-left: 200px;
}
.bdp, .bda{
    position: absolute;
    width: 150px;
    font-size: 20px;
    text-align: center;
    font-family: 'Baloo Da';
    color: white;
    margin-top: 15px;
}
.upload2{
    position: absolute;
    width: 375px;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 600px;
}
.more{
    position: absolute;
    width: 375px;
    font-size: 27px;
    text-align: center;
    font-family: 'Baloo Da', cursive;
    margin-top: 480px;
    z-index: 3;
}
.photo1{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 30px;
    margin-top: 250px;
    margin-left: 50px;
    opacity: .1;
}
.photo2{
    position: absolute;
    width: 105px;
    height: 200px;
    background-color: black;
    border-radius: 30px;
    margin-top: 250px;
    margin-left: 220px;
    opacity: .1;
}
.photo3{
    position: absolute;
    width: 150px;
    height: 180px;
    background-color: black;
    border-radius: 30px;
    margin-top: 420px;
    margin-left: 50px;
    opacity: .1;
}
.photo4{
    position: absolute;
    width: 105px;
    height: 130px;
    background-color: black;
    border-radius: 30px;
    margin-top: 470px;
    margin-left: 220px;
    opacity: .1;
}
.photo5{
    position: absolute;
    width: 275px;
    height: 80px;
    background: linear-gradient(black, white 120%);
    border-radius: 30px 30px 0 0 ;
    margin-top: 620px;
    margin-left: 50px;
    opacity: .1;
}
.photo6{
    position: absolute;
    width: 275px;
    height: 70px;
    background: linear-gradient(0deg, black, white 120%);
    border-radius: 0 0 30px 30px;
    margin-top: 250px;
    margin-left: 50px;
    opacity: .1;
}
.photo7{
    position: absolute;
    width: 100px;
    height: 120px;
    background-color: black;
    border-radius: 30px;
    margin-top: 340px;
    margin-left: 50px;
    opacity: .1;
}
.photo8{
    position: absolute;
    width: 155px;
    height: 120px;
    background-color: black;
    border-radius: 30px;
    margin-top: 340px;
    margin-left: 170px;
    opacity: .1;
}
.bgforf{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.2);
    margin-top: calc(-8px + 740px);
    margin-left: calc(-8px + 100px);
    z-index: 10;
    opacity: .8
}
.forf, .foro{
    position: absolute;
    width: 200px;
    font-size: 30px;
    text-align: center;
    margin-top: 6px;
    font-family: 'Baloo Da', cursive;
    opacity: .8
}
.bgforo{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.2);
    margin-top: calc(-8px + 740px);
    margin-left: calc(-8px + 300px + 375px);
    z-index: 10;
    opacity: .8
}
